:root {
  --light-theme-background: rgb(255, 255, 255);
  --light-theme-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
  --light-theme-text: rgb(22, 22, 22);
  --light-theme-side-bar: var(--light-theme-text);
  --dark-theme-background: rgb(20, 20, 20);
  --tranparent: rgba(0, 0, 0, 0);
}

* {
  font-family: Roboto, Arial;
  color: var(--light-theme-text);
}

body {
  background-color: var(--light-theme-background);
  margin: 0px;
  padding: 0px;
}

body .dark-theme {
  background-color: var(--dark-theme-background);
}

.space {
  flex: 1;
}

a {
  text-decoration: none;
}

b {
  color: var(--light-theme-background);
}

.top-nav {
  background-color: var(--tranparent);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-inline: 20px;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
}

.top-nav.opaque {
  background-color: rgba(255, 255, 255, 255);
  box-shadow: var(--light-theme-shadow);
}

.header {
  background-image: url(./../images/cover.png);
  background-size: cover;
  background-position: center center;
  height: 300px;
  text-align: center;
  padding-top: 50px;
}

.total {
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-wrap: nowrap;
}

.main {
  flex: 1;
  margin: 25px;
}

.side {
  width: 293px;
  margin: 25px;
}

.block {
  background-color: var(--light-theme-side-bar);
  padding-inline: 20px;
  padding-block: 10px;
  margin-block: 10px;
  border-radius: 6px;
}

.side-title.subscribe-area {
  color: rgb(20, 20, 20);
}

.subscribe-area {
  padding-bottom: 20px;
}

.button {
  color: black;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding-block: 5px;
  font-size: 18px;
  border: none;
}

.button:hover {
  background-color: rgb(238, 238, 238);
}

.button:active {
  background-color: rgb(224, 224, 224);
}

.input-area {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-inline: 10px;
  background-color: white;
  border-radius: 2px;
}

.email {
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: white;
  padding-inline: 0px;
  padding-block: 10px;
}

.asterisk {
  color: rgb(255, 38, 0);
}

.final {
  background-color: var(--light-theme-text);
  padding: 25px;
  font-size: 1rem;
  display: flex;
}

.widget {
  border-radius: 6px;
  background-color: var(--light-theme-text);
  display: flex;
  gap: 10px;
  padding-block: 10px;
  padding-inline: 8px;
  margin-block: 15px;
  justify-content: space-around;
}

.description {
  max-width: 200px;
  position: relative;
  min-height: 400px;
  text-align: left;
}

.description.error {
  min-height: 35px;
  height: 35px;
}

.embed {
  margin: auto;
  flex: 1;
  min-height: 400px;
}

.profile-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-bar {
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  background-color: var(--dark-theme-background);
  margin-top: -10px;
  margin-inline: -10px;
  padding-bottom: 1px;
}

.list {
  margin-block: 5px;
}

.pages {
  border-radius: 6px;
  background-color: var(--dark-theme-background);
  padding: 20px;
  display: flex;
  gap: 10px;
}

.number {
  font-size: 18px;
  background-color: white;
  color: black;
  padding: 8px;
  padding-inline: 12px;
  border-radius: 6px;
}

.number.current {
  font-weight: 800;
}

.response {
  color: white;
}

@media (min-width: 1390px) {
  .side {
    width: 23%;
  }
}

@media (max-width: 650px) {
  .total {
    flex-wrap: wrap;
  }

  .main {
    width: 100%;
  }

  .side {
    width: 100%;
  }

  .widget {
    background-color: var(--light-theme-text);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    padding-block: 10px;
  }
  .description {
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: 100px;
    padding: 10px;
    position: relative;
    text-align: justify;
  }

  .embed {
    min-height: 200px;
  }

  .profile-card {
    grid-template-columns: 1fr;
  }

  .profile-bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
