h1 {
  margin-bottom: 0px;
}

.nav-text {
  font-size: 1.2rem;
}

.nav-link {
  cursor: pointer;
  color: blue;
}

.title {
  font-size: 3.3rem;
}

.subtitle {
  font-size: 2.2rem;
}

.solid {
  color: white;
  background-color: rgb(22, 22, 22);
  padding-inline: 5px;
  border-radius: 8px;
}

.welcome {
  margin-top: 0px;
}
.side-title {
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
}

.side-text {
  color: white;
  margin-block: 5px;
}

.section-title {
  font-size: 1.8rem;
}

.content {
  font-size: 1.1rem;
  text-align: justify;
}

.content-left {
  font-size: 1.1rem;
  text-align: left;
}

.content.white {
  font-size: 16px;
  color: white;
  padding-bottom: 4px;
}

.detail {
  color: white;
  font-size: 24px;
  margin-block: 2px;
  font-weight: 700;
}

.detail-footer {
  color: white;
}
.final .solid {
  color: rgb(22, 22, 22);
  background-color: white;
}

.description .solid {
  color: rgb(22, 22, 22);
  background-color: white;
}

.description {
  color: white;
}

.email-text {
  font-size: 18px;
  font-weight: initial;
}

.primary-name {
  color: white;
  font-size: 22px;
  margin-top: -58px;
  margin-left: 95px;
}

.skit-name {
  display: inline;
  font-size: 22px;
  color: var(--dark-theme-background);
  margin-block: 8px;
}

.skit-tag {
  display: inline;
  border-radius: 5px;
  background-color: var(--dark-theme-background);
  color: white;
  padding-inline: 4px;
}

.profile-content {
  margin-block: 10px;
}

.skit-content {
  margin-block: 10px;
  margin-inline: 20px;
}

.section-title.videos {
  margin-top: 60px;
}

.cartoon-name {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.section {
  margin-block: 5px;
}

.start-space {
  display: inline-block;
  width: 24px;
}

@media (max-width: 650px) {
  .skit-content {
    margin-block: 10px;
    margin-inline: 10px;
  }
}
